// 全局变量

$text-common-weight: 400;

$border-common-color: rgba(101,135,248,0.36);

$text-big-size: 18px;
$text-medium-size: 16px;
$text-common-size: 14px;
$text-small-size: 12px;
$text-mini-size: 10px;

$color-important: #222222;
$color-common: #606060;
$color-desc: #909090;
$color-disabled: #BFBFBF;
$color-error: #F04134;
$color-warn: #F5A623;
$color-lighting: #9013FE;
